/* styles.cards.css */

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;

}

article {
  background-color: #f4f4f4;

}

.project-card:hover {
  transform: scale(1.05);
}

.project-image {
  width: 100%;
  height: 200px; /* Set a fixed height for uniformity */
  object-fit: cover; /* Maintain aspect ratio and fill container */
  border-bottom: 2px solid #eaeaea;
}

 img {
  height: 300px;
  width: 100%;
}


h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333;
  font-size: 1.5rem;
}



button {
  display: inline-block;
  padding: 6px 20px;
  font-size: 1.2rem;
  border: 2px solid #fff; /* Add a border for better visibility */
  border-radius: 8px;
  background-color: #2196f3;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  margin: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
  color: #fff;
}

article div {
  /* padding: 10px; */
  margin: 10px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  article {
    padding: 0;
  }
  .projects-container {
    padding: 0;
    grid-template-columns: 1fr;
  }

  .project-card {
    width: 100%;
  }

 article div {
    padding: 10px;
    margin: 10px;
  }
}
